<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.smsgateway">


  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_SMS" />
  <uses-permission android:name="android.permission.RECEIVE_SMS" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

  <application>

    <!-- SMS Receiver: required for receiving SMS in background -->
    <receiver 
      android:name=".SmsGatewayReceiver"
      android:enabled="true" 
      android:exported="true"
      android:permission="android.permission.BROADCAST_SMS">
      <intent-filter android:priority="999">
        <action android:name="android.provider.Telephony.SMS_RECEIVED" />
      </intent-filter>
    </receiver>

    <!-- Boot Receiver: required for listening after device reboot -->
    <receiver 
      android:name=".SmsGatewayBootReceiver" 
      android:enabled="true"
      android:exported="false">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>

  </application>
</manifest>